# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and debug files
logs/
*.log

# Ignore datasets and large temporary files
data/
*.csv
*.tsv
*.jsonl
*.zip
*.tar.gz
*.hdf5

# Ignore user-generated .pth but keep speaker embeddings
*.pth
!speaker_embeddings.pth


# ignore checkpoints
checkpoints_v3
checkpoints_v3/
checkpoints_v3/**

# Ignore user-generated .h5 but allow specific ones
*.h5
!model_checkpoints/*.h5

# Store model checkpoints in LFS
checkpoints/
checkpoints/**

# Hugging Face requirements
*.lock
output/
wandb/
cache/
results/
datasets/
outputs_v3/
outputs_v3/**

# Ignore VS Code and other editor configs
.vscode/
.idea/

# ignore checkpoints
checkpoints_v3
checkpoints_v3/
checkpoints_v3/**